.deposit-form {
    width: 300px;
    height: 300px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    background-color:beige;
    border-radius: 10px;
    text-align: center;
  }